[Unit]
Description="kong, api-gateway"
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
StandardError=syslog
ExecStart=/usr/local/bin/kong start --nginx-conf /etc/kong/nginx.lua
Restart=on-failure

# don't keep respawning if there are 10 respawns within 30 seconds
#respawn limit 10 30
